/* Hier doet Jim dingen typen */
/* Traject toevoegen */
body{
    background:#b8ddd5;
}

.navigation-bar-toevoegen {
    height:44px;
    padding: 20px 0 0px 0;
    background-color:#419691;
    font-size:17px;
    color:#FFFFFF;
    position:fixed; 
    z-index:2;
    top:0;
    left:0;
    right:0;
    line-height:44px;
    opacity: 1;    
}

.navigation-bar-toevoegen h1 {
    font-weight:normal; 
    margin: 0;
    font-size: 1.3em;
    width: 50%;
    line-height: 1.7;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

.toevoegen .navigation-bar-toevoegen .button-back {
    width: 25%;
    position: relative;
    margin-left: 5%;
} 

.toevoegen .navigation-bar-toevoegen .button-back .icon-back {
    font-size: 17px;
    font-style: normal;
    padding-left: 15px;
    margin-left: 5%;
}

.toevoegen .navigation-bar-toevoegen .button-back .icon-back:before {
    content: "";
    background: url('../img/traject-toevoegen/icon-back2.png') 0 0px no-repeat;
    background-size: 100%;
    width: 13px;
    height: 21px;
    position: absolute;
    top:10px;
    left:0px;
}

.toevoegen .navigation-bar-toevoegen .button-cancel {
    width: 25%;
}

.toevoegen .navigation-bar-toevoegen .button-cancel .icon-cancel {
    margin-left: 2%;
    font-size: 17px;
    font-style: normal;
}

.traject-toevoegen{
    padding-top:64px;
    height:100%;
    
}
.plaatsnaam{
    background:#fff;
    padding-top:10px;
    padding-bottom: 10px;
    position: absolute;
    top: 138px;
    z-index: 0;
    width:100%;
    margin-top:20px; 
}

.plaatsnaam-naar{
    top:186px;
    border-bottom: 1px solid #8b8b8b;
}

.plaatsnaam-line {
    width: 95%;
    height: 1px;
    border-bottom: 1px solid #c4c4c4;
    position: absolute;
    top: 204px;
    left: 5%;
}

.plaatsnaam label{
    display: inline-block;
    width:18%;
    margin-left:5%;
    margin-right:2%;
    font-size: 20px;
    color:#444242;
}

.plaatsnaam input{
    display: inline-block;
    width:52%;
    background: none;
    border: none;
    font-size: 16px;
}

.plaatsnaam a{
    display: none;
    float:right;
    width:10%;
    padding:3px 6px;
    margin-right:2%;
    background:#1f2c35;
    color:#fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.plaatsnaam-van-input {
    border-bottom: 1px solid #c4c4c4;
    width: 70%;
}

.ui-menu .ui-menu-item a{ 
    border-radius: 0; 
    height:44px;
    padding-left: 0;
    padding-right: 0;
}
.ui-menu .ui-menu-item span{
    font-size: 12px;
    display: block;
} 

.ui-menu-item .ui-state-focus{ 
    background: #419691; 
    color:#fff; 
}

.traject-toevoegen-vervoersmiddelen {
    margin-top:115px;
    width: 100%;
    background: #fff;
}

.traject-toevoegen-vervoersmiddelen ul {
    padding:12px 0px 12px 0px;
    margin:0px;
    text-align: center;
    border-bottom: 1px solid #677a76;
    height: 60px;
}  

.traject-toevoegen-vervoersmiddelen ul li {
    display:inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0px 5px 0px 5px;
}

.traject-toevoegen-vervoersmiddelen ul li input {
    width: 60px;
    height: 60px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    margin:0px;
}
.traject-toevoegen-vervoersmiddelen ul li label {
    width: 60px;
    height: 60px;
    display: inline-block;
    position: absolute;
    top:0px;
    left:0px;
}

.image-bus[type=checkbox] + label {
    background: url('../img/traject-toevoegen/bus-off.png') 0 0px no-repeat;
    background-size:100%;
    opacity: 0.5;
}

.image-bus[type=checkbox]:checked + label {
    background: url('../img/traject-toevoegen/bus-on.png') 0 0px no-repeat;
    background-size:100%;
    opacity: 1;
}

.image-trein[type=checkbox] + label {
    background: url('../img/traject-toevoegen/trein-off.png') 0 0px no-repeat;
    background-size:100%;
    opacity: 0.5;
}

.image-trein[type=checkbox]:checked + label {
    background: url('../img/traject-toevoegen/trein-on.png') 0 0px no-repeat;
    background-size:100%;
    opacity: 1;
}

.image-tram[type=checkbox] + label {
    background: url('../img/traject-toevoegen/tram-off.png') 0 0px no-repeat;
    background-size:100%;
    opacity: 0.5;
}

.image-tram[type=checkbox]:checked + label {
    background: url('../img/traject-toevoegen/tram-on.png') 0 0px no-repeat;
    background-size:100%;
    opacity: 1;
}

.image-metro[type=checkbox] + label {
    background: url('../img/traject-toevoegen/metro-off.png') 0 0px no-repeat;
    background-size:100%;
    opacity: 0.5;
}

.image-metro[type=checkbox]:checked + label {
    background: url('../img/traject-toevoegen/metro-on.png') 0 0px no-repeat;
    background-size:100%;
    opacity: 1;
}

.traject-toevoegen-nextstep {
    margin-top: 44px;
    margin-bottom: 30px;
    width: 100%;
}

.traject-toevoegen-button {
    display: block;
    width: 210px;
    height: 50px;
    margin:0 auto;
    padding: 0px;
    border:none;
    background:#bee8e5;
    border-radius:7px;
    font-size:18px;
    text-transform: uppercase;
}

.traject-toevoegen-title {
    margin-top: 44px;
    background:#fff;
    padding:10px 0px 10px 0px;
    position: relative;
    border-bottom: 1px solid #8b8b8b;
}

.traject-toevoegen-title label {
    display: inline-block;
    width:18%;
    margin-left:5%;
    margin-right:5%;
    font-size: 20px;
    color:#444242;
}

.traject-toevoegen-title input {
    display: inline-block;
    width:52%;
    background: none;
    border: none;
    font-size: 16px;
}

.traject-toevoegen-title .input-description {
    margin-left:2%;
    position: absolute;
    left:0px;
    bottom:-20px;
    font-size: 14px;
    color:#fff;
}

.traject-toevoegen-customimage .block1 {
    padding-top:10px;
    padding-bottom:10px;
    background: #fff;
    border-bottom:1px solid #677a76;
}

.traject-toevoegen-customimage span {
    margin-left:5%;
    margin-right:5%;
    font-size:20px;
    color:#444242;
}

.afbeelding-toevoegen {
    position: relative;
}

.icon-arrow {
    position: absolute;
    width: 10px;
    height: 15px;
    background: url('../img/traject-toevoegen/icon-arrow.png');
    background-size: 100%;
    top:8px;
    right:5%; 
}

.traject-toevoegen-customimage .custom-images {
    padding-left:5%;
    margin-top: 17px;
    display: block;
    background: #fff;
    padding-top:10px;
    padding-bottom: 10px;
}

.traject-toevoegen-customimage ul {
    padding: 0px;
    margin:0px;
}

.traject-toevoegen-customimage ul li {
    width: 65px;
    height: 65px;
    margin-left:3px;
    display: inline-block;
    background: #cecece;
    opacity: 0.5;
    border:1px solid #fff;
    position: relative;
}

.traject-toevoegen-customimage ul li:after {
    content:"";
    width: 15px;
    height: 15px;
    position: absolute;
    background: url('../img/traject-toevoegen/icon-unchecked.png') 0 0px no-repeat;
    background-size: 100%;
    right:5px;
    bottom:5px;
}


.traject-toevoegen-customimage ul li:nth-child(1) {
    margin-left:0px;
    margin-bottom:9px; 
}

.traject-toevoegen-customimage ul li:nth-child(2) {
    margin-bottom:9px; 
}

.traject-toevoegen-customimage ul li:nth-child(3) {
    margin-bottom:9px; 
}

.traject-toevoegen-customimage ul li:nth-child(4) {
    margin-bottom:9px; 
}

.traject-toevoegen-customimage ul li:nth-child(5) {
    margin-left:0px;
}

.custom-images ul .selected {
    opacity: 1;
    border:1px solid #51bcb5;
}

.custom-images ul .selected:after {
    content:"";
    width: 15px;
    height: 15px;
    position: absolute;
    background: url('../img/traject-toevoegen/icon-checked.png') 0 0px no-repeat;
    background-size: 100%;
    right:5px;
    bottom:5px;
}

.traject-toevoegen-customimage .block2 {
    margin-top: 5px;
    padding-top:10px;
    padding-bottom:10px;
    background: #fff;
    position: relative;
}

.traject-toevoegen-customimage .block2 span .icon-arrow {
    top:17px;
}

.traject-toevoegen-finish {
    margin-top: 44px;
}

.overlay{
    background:#b8ddd5;
    position: absolute;
    width:100%;
    height:100%;
    z-index: 1;
    display:none;
}



.toevoegen{
    position: absolute;
    background:#b8ddd5;
    top:0;
    left: 0;
    display: none;
    overflow: auto;
    height: 100%;
    width:100%;
    z-index:3;

}

.navigation-bar-toevoegen {
    height:44px;
    padding: 20px 0 0px 0;
    background-color: #1f2c35;
    font-size:17px;
    color:#FFFFFF;
    position:fixed; 
    z-index:2;
    top:0;
    left:0;
    right:0;
    line-height:44px;
    opacity: 1;    
}

.traject-toevoegen h1 {
    font-weight:normal; 
    margin: 0;
    font-size: 22px;
    line-height: 1.3;
    display: inline-block;
    text-transform: uppercase;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 19px;
}

.toevoegen .navigation-bar-toevoegen .button-back {
    width: 25%;
} 
-.toevoegen .navigation-bar-toevoegen .button-back .icon-back {
    background: url('../img/traject-toevoegen/icon-back.png') 0 0px no-repeat;
    background-size: 100%;
    width: 55px;
    height: 21px;
    display: inline-block;
    margin-left: 5%;
}

.toevoegen .navigation-bar-toevoegen .button-cancel {
    width: 25%;
}

.toevoegen .navigation-bar-toevoegen .button-cancel .icon-cancel {
   margin-left: 5%;
    font-size: 17px;
    font-style: normal;
}
.toevoegen .navigation-bar-toevoegen .button-finish {
    width: 25%;
    float: right;
    text-align: right;
    margin-right:5%;
    color:#ffea00;
}

.toevoegen .navigation-bar-toevoegen .button-finish .icon-finish {
    font-size: 17px;
    font-style: normal;
}

.toevoegen .navigation-bar-toevoegen .button-choose {
    display: none;
    width: 25%;
    float: right;
    text-align: right;
    margin-right:5%;
}

.toevoegen .navigation-bar-toevoegen .button-choose .icon-choose {
    font-size: 17px;
    font-style: normal;
}

.toevoegen .navigation-bar-toevoegen .button-edit {
    display: none;
    width: 25%;
    float: right;
    text-align: right;
    margin-right:5%;
    color:#ffea00;
}

.toevoegen .navigation-bar-toevoegen .button-edit .icon-edit2 {
    font-size: 17px;
    font-style: normal;
}


.traject-toevoegen-edit{display: none;}

.titel-toevoegen {
    display: block;
}

.titel-edit {
    display: none;
}


/*================================================
            END
================================================*/