/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    font-family: Arial;
    margin:0; padding:0;
    font-family:"akzidenz", "sans-serif";
}

@font-face {
    font-family: "Akzidenz";
    src: url(fonts/AkzidenzGroteskBE-Light.otf) format("truetype");
}

/* Navigation bar (top)*/

.navigation-bar{
    height:44px;
    padding: 20px 0 0px 0;
    background-color: #1f2c35;
    font-size:17px;
    text-align:center;
    color:#FFFFFF;
    position:fixed; 
    z-index:2;
    top:0;
    left:0;
    right:0;
    line-height:44px;
    opacity: 1;    
    text-transform: uppercase;
}

.navigation-bar h1{
    font-weight:normal; 
    margin: 0;
    font-size: 1.3em;
    width: 70%;
    float: left;
    line-height: 1.7;
}

.navigation-bar span.menu-button {
    display: block;
    width: 15%;
    padding: 0;
}

.navigation-bar .settings{
    float: left;
}

.navigation-bar .add{
    float: left;
}

.swiper-container {
    z-index:1;
    width:100%;
    font-size: 1.0em;
}

.swiper-slide {
    z-index:1;
    padding:0;
    -webkit-overflow-scrolling:touch;
    overflow:auto;
}

/* Pagination */
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:5px;
  width: 100%;
}

.swiper-container, .swiper-slide {
 height: 600PX;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  /*box-shadow: 0px 1px 2px #555 inset;*/
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}

/* Traject top */

.traject-description {
    padding: 1em 2em;
    text-transform: uppercase;
    background: #53bbb4;
    color:#fff;
    height: 4em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.traject-description h1{
    font-weight: normal;
    font-size: 1.25em;
    margin: 0;
}

.traject-description h2{
    font-weight: normal;
    margin: 0;
    font-size: 0.9em;
}


.traject-container {
    position: relative;
    width: 100%;
}

li.traject:nth-child(odd) {
    background-color:#fff;
}

li.traject:nth-child(even) {
    background-color:#fef9f4;
}

.box-right > div {
    margin-top: 1.4em;
}

.additional-information {
    font-size: 0.8em;
}


/* Traject individual delayed */
li.traject .delayed .traject-short {}
li.traject.is-selected .traject-short{
    position:relative;
}
li.traject.is-selected .traject-short:after {
    content:"";
    position:absolute;
    border-top: 1px solid #C9C9C9;
    bottom: 0px;
    height: 1px;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #C9C9C9;
}
.arrival-delay {}
.transport.delayed .time-start {}
.transport.delayed .time-end {}
.transport.delayed .transport {}
.transport.delayed .box-left {
    background-color: #d67470;
    color: #fff;
}
.transport.delayed .time-added {}
.transport.delayed .time-arrival {}
.transport.delayed .box-right {
    background-color: #fbf1f0;
    border-bottom: 1px solid #FDE2E0;
}
.transport.delayed .traject li {}
.transport.delayed .transport > div {}
.transport.delayed .box-right span {}

/* Traject individual */
.traject .transport:last-child {
    position:relative;
    }
.traject .transport:last-child:after {
    content:"";
    position:absolute;
    bottom: -5px;
    border-bottom: 1px solid #C9C9C9;
    left: 0px;
    right: 0px;
    height: 1px;
    border-top: 1px solid #C9C9C9;
}
li.traject .traject-short .is-selected {}
li.traject .traject-short .is-selected:after {}
.traject-short-time {
    float: left;
    margin-top: 0.8em;
    margin-left: 1em;
}

.traject-short > .iconsprite--collapse {
    float: right;
    margin-right: 1em;
    margin-top: 0.8em;
}

.box-left > i {
    background: url(http://www.placehold.it/33x33);
    width: 33px;
    height: 33px;
    margin: 0 auto;
    display: block;
    clear: both;
}

.time-end.late {
    color: #d67470;
}
.traject-short-time i {
    margin: 0 0.1em;
}
li.traject {
    display: block;
}
li.traject > div {
    width: 100%;
    height: 5.125em;
}

li.traject .traject-short {
    height: 2.75em;
}
.time-start {}
.time-end {}
.transport {}
.box-left {
    width: 26.2%;
    background-color: #efefef;
}
.time-added {
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 0.3em;
}
.time-arrival {
    text-align: center;
    width: 100%;
    float: left;
}
.box-right {
    width: 69.8%;
    padding-left: 4%;
    border-bottom: 1px solid #f1f1f1;
}
.traject li {
    list-style: none;
}

.transport > div {
    height: 100%;
    float: left;
    color: #4d4c4b;
    text-transform: uppercase;
}

.box-right span {
    float: left;
    width: 100%;
}


/* Iconsprite-pt */

.iconsprite-pt {
    width:30px;
    height:17px;
}

.iconsprite--train {
    background-position: 0 0;
}

.iconsprite--bus {
    background-position: 0px -17px;
}

.iconsprite--subway {
    background-position: 0 -35px;
}

.sprite--late {
    background-image: url(../img/sprites/iconsprite-pt-late.png);
}

.sprite--ontime {
    background-image: url(../img/sprites/iconsprite-pt-ontime.png);
}

/* Menusprite */
.menusprite {
    display:inline-block;
    background-image: url(../img/sprites/iconsprite-menu.png);
    width:20px;
    height:20px;
}

.menusprite--settings {
    background-position:0 0;
}
.menusprite--add {
    background-position: -20px 0px;
}

/* Iconsprite */
.iconsprite {
    display:inline-block;
    background-image: url(../img/sprites/iconsprite.png);
}

.iconsprite--arrow {
    background-position:0 0;
    width: 15px;
    height: 10px;
    margin: 0.3em;
    }
}

/* Sprites high-res */
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { 
    .sprite--late {
        background-image: url(../img/sprites/iconsprite-pt-late@2x.png);
        background-size:34px 60px;
    }

    .sprite--ontime {
        background-image: url(../img/sprites/iconsprite-pt-ontime@2x.png);
        background-size:34px 60px;
    }

     .iconsprite--bus {
        background-position:0 -140px;
    }

    .iconsprite--subway {
        background-position:0 -280px;
    }

    .menusprite {
        background-image: url(../img/sprites/iconsprite-menu@2x.png);
        background-size:40px 20px;
    }

    .iconsprite--arrow {
        background-position:0 0;
    }
}

/* Hier doet Jim dingen typen */
/* Traject toevoegen */
body{
    background:#51bcb5;
}

.navigation-bar-toevoegen {
    height:44px;
    padding: 20px 0 0px 0;
    background-color:#419691;
    font-size:17px;
    color:#FFFFFF;
    position:fixed; 
    z-index:2;
    top:0;
    left:0;
    right:0;
    line-height:44px;
    opacity: 1;    
}

.navigation-bar-toevoegen h1 {
    font-weight:normal; 
    margin: 0;
    font-size: 1.3em;
    width: 50%;
    line-height: 1.7;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

.toevoegen .navigation-bar-toevoegen .button-back {
    width: 23%;
    position: relative;
    margin-left: 2%;
} 

.toevoegen .navigation-bar-toevoegen .button-back .icon-back {
    font-size: 17px;
    font-style: normal;
    padding-left: 15px;
    margin-left: 2%;
}

.toevoegen .navigation-bar-toevoegen .button-back .icon-back:before {
    content: "";
    background: url('../img/traject-toevoegen/icon-back2.png') 0 0px no-repeat;
    background-size: 100%;
    width: 13px;
    height: 21px;
    position: absolute;
    top:10px;
    left:0px;
}

.toevoegen .navigation-bar-toevoegen .button-cancel {
    width: 25%;
}

.toevoegen .navigation-bar-toevoegen .button-cancel .icon-cancel {
    margin-left: 2%;
    font-size: 17px;
    font-style: normal;
}

.traject-toevoegen{
    padding-top:64px;
    height:100%;
    
}
.plaatsnaam{
    background:#f2ecec;
    padding-top:10px;
    padding-bottom: 10px;
    position: absolute;
    top: 88px;
    z-index: 0;
    width:100%;
    margin-top:20px; 
}

.plaatsnaam-naar{
    top:176px;
}

.plaatsnaam label{
    display: inline-block;
    width:18%;
    margin-left:2%;
    margin-right:2%;
    font-size: 20px;
}

.plaatsnaam input{
    display: inline-block;
    width:52%;
    background: none;
    border: none;
    font-size: 16px;
}

.plaatsnaam a{
    display: none;
    float:right;
    width:12%;
    padding:0 2%;
    margin-left:2%;
    margin-right:2%;
    background:#000;
    color:#fff;
    text-decoration: none;
    text-align: center;
}

.ui-menu .ui-menu-item a{ 
    border-radius: 0; 
    height:44px;
    padding-left: 0;
    padding-right: 0;
}
.ui-menu .ui-menu-item span{
    font-size: 12px;
    display: block;
} 

.ui-menu-item .ui-state-focus{ 
    background: #419691; 
    color:#fff; 
}

.traject-toevoegen-vervoersmiddelen {
    margin-top:220px;
    width: 100%;
    background: #f2ecec;
}

.traject-toevoegen-vervoersmiddelen ul {
    padding:10px 0px 10px 0px;
    margin:0px;
    text-align: center;
}  

.traject-toevoegen-vervoersmiddelen ul li {
    display:inline-block;
    position: relative;
    width: 60px;
    height: 50px;
    margin: 0px 5px 0px 5px;
}

.traject-toevoegen-vervoersmiddelen ul li input {
    width: 60px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    margin:0px;
}
.traject-toevoegen-vervoersmiddelen ul li label {
    width: 60px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top:0px;
    left:0px;
}

.image-bus[type=checkbox] + label {
    background: url('../img/traject-toevoegen/bus-off.png') 0 0px no-repeat;
    background-size:100%;
}

.image-bus[type=checkbox]:checked + label {
    background: url('../img/traject-toevoegen/bus-on.png') 0 0px no-repeat;
    background-size:100%;
}

.image-trein[type=checkbox] + label {
    background: url('../img/traject-toevoegen/trein-off.png') 0 0px no-repeat;
    background-size:100%;
}

.image-trein[type=checkbox]:checked + label {
    background: url('../img/traject-toevoegen/trein-on.png') 0 0px no-repeat;
    background-size:100%;
}

.image-tram[type=checkbox] + label {
    background: url('../img/traject-toevoegen/tram-off.png') 0 0px no-repeat;
    background-size:100%;
}

.image-tram[type=checkbox]:checked + label {
    background: url('../img/traject-toevoegen/tram-on.png') 0 0px no-repeat;
    background-size:100%;
}

.image-metro[type=checkbox] + label {
    background: url('../img/traject-toevoegen/metro-off.png') 0 0px no-repeat;
    background-size:100%;
}

.image-metro[type=checkbox]:checked + label {
    background: url('../img/traject-toevoegen/metro-on.png') 0 0px no-repeat;
    background-size:100%;
}

.traject-toevoegen-meldingen {
    background: #f2ecec;
    margin-top: 44px;
    padding:11px 0px 10px 0px;
}

.traject-toevoegen-meldingen span {
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 2%;
}

.traject-toevoegen-nextstep {
    margin-top: 44px;
    width: 100%;
}

.traject-toevoegen-button {
    display: block;
    width: 210px;
    height: 50px;
    margin:0 auto;
    padding: 0px;
    border:none;
    background:#bee8e5;
    border-radius:7px;
    font-size:18px;
    text-transform: uppercase;
}

/*======== WEER VERWIJDEREN ========*/
.first-step {
    display:block;
}

.second-step {
    display: none;
}
/*==================================*/

.traject-toevoegen-title {
    margin-top: 44px;
    background:#f2ecec;
    padding:10px 0px 10px 0px;
    position: relative;
}

.traject-toevoegen-title label {
    display: inline-block;
    width:18%;
    margin-left:2%;
    margin-right:2%;
    font-size: 20px;
}

.traject-toevoegen-title input {
    display: inline-block;
    width:52%;
    background: none;
    border: none;
    font-size: 16px;
}

.traject-toevoegen-title .input-description {
    margin-left:2%;
    position: absolute;
    left:0px;
    bottom:-20px;
    font-size: 14px;
    color:#fff;
}

.traject-toevoegen-customimage .block1 {
    margin-top: 44px;
    padding-top:10px;
    padding-bottom:10px;
    background: #f2ecec;
}

.traject-toevoegen-customimage span {
    margin-left:2%;
    margin-right: 2%;
    font-size:20px;
}

.traject-toevoegen-customimage .custom-images {
    padding-left:2%;
    margin-top: 10px;
}

.traject-toevoegen-customimage ul {
    padding: 0px;
    margin:0px;
}

.traject-toevoegen-customimage ul li {
    width: 65px;
    height: 65px;
    margin-left:9px;
    display: inline-block;
    background: orange;
    opacity: 0.5;
    border:1px solid #f2ecec;
    position: relative;
}

.traject-toevoegen-customimage ul li:nth-child(1) {
    margin-left:0px;
    margin-bottom:9px; 
}

.traject-toevoegen-customimage ul li:nth-child(2) {
    margin-bottom:9px; 
}

.traject-toevoegen-customimage ul li:nth-child(3) {
    margin-bottom:9px; 
}

.traject-toevoegen-customimage ul li:nth-child(4) {
    margin-bottom:9px; 
}

.traject-toevoegen-customimage ul li:nth-child(5) {
    margin-left:0px;
}

.custom-images ul .selected {
    opacity: 1;
    border:1px solid #51bcb5;
}

.custom-images ul .selected:after {
    content:"";
    width: 15px;
    height: 15px;
    position: absolute;
    background: #ccc;
    right:5px;
    bottom:5px;
}

.traject-toevoegen-customimage .block2 {
    margin-top: 10px;
    padding-top:10px;
    padding-bottom:10px;
    background: #f2ecec;
}

.traject-toevoegen-finish {
    margin-top: 44px;
}

.overlay{
    background:#50bcb5;
    position: absolute;
    width:100%;
    height:100%;
    z-index: 1;
    display:none;
}



.toevoegen{
    position: absolute;
    background:#50bcb5;
    top:0;
    left: 0;
    display: none;
    height: 100%;
    width:100%;
    z-index:3;

}




/*================================================
            END
================================================*/
