/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    font-family: Arial;
    margin:0; padding:0;
    font-family:"akzidenz", "sans-serif";
}

@font-face {
    font-family: "Akzidenz";
    src: url(fonts/AkzidenzGroteskBE-Light.otf) format("truetype");
}

/* Navigation bar (top)*/

.navigation-bar{
    height:44px;
    padding: 20px 0 0px 0;
    background-color:#1f2c35;
    font-size:17px;
    text-align:center;
    color:#FFFFFF;
    position:fixed; 
    z-index:2;
    top:0;
    left:0;
    right:0;
    line-height:44px;
    opacity: 1;    
    text-transform: uppercase;
}

.navigation-bar h1{
    font-weight:normal; 
    margin: 0;
    font-size: 1.3em;
    width: 70%;
    float: left;
    line-height: 1.7;
}

.navigation-bar span.menu-button {
    display: block;
    width: 15%;
    padding: 0;
}

.navigation-bar .settings{
    float: left;
}

.navigation-bar .add{
    float: left;
}

.swiper-container {
    z-index:1;
    width:100%;
    font-size: 1.0em;
}

.swiper-slide {
    z-index:1;
    padding:0;
    -webkit-overflow-scrolling:touch;
    overflow:auto;
}

/* Traject top */

.traject-description {
    padding: 0 2em;
    text-transform: uppercase;
    background: #53bbb4;
    color:#fff;
    height: 5em;
}

.traject-description h1{
    font-weight: normal;
    font-size: 1.25em;
    margin: 0;
}

.traject-description h2{
    font-weight: normal;
    margin: 0;
    font-size: 0.9em;
}


.traject-container {
    position: relative;
    width: 100%;
}

/* Traject individual */

.traject-short {}
.time-start {}
.time-end {}
.transport {}
.box-left {}
.time-added {}
.time-arrival {}
.box-right {}
.traject li {
    list-style: none;
}
li.traject div {}

/* Iconsprite-pt */

.iconsprite-pt {
    width:30px;
    height:17px;
}

.iconsprite--train {
    background-position: 0 0;
}

.iconsprite--bus {
    background-position: 0px -17px;
}

.iconsprite--subway {
    background-position: 0 -35px;
}

.sprite--late {
    background-image: url(../img/sprites/iconsprite-pt-late.png);
}

.sprite--ontime {
    background-image: url(../img/sprites/iconsprite-pt-ontime.png);
}

/* Menusprite */
.menusprite {
    display:inline-block;
    background-image: url(../img/sprites/iconsprite-menu.png);
    width:20px;
    height:20px;
}

.menusprite--settings {
    background-position:0 0;
}
.menusprite--add {
    background-position: -20px 0px;
}

/* Iconsprite */
.iconsprite {
    display:inline-block;
    background-image: url(../img/sprites/iconsprite.png);
}

.iconsprite--arrow {
    background-position:0 0;
    width: 15px;
    height: 10px;
    margin: 0.3em;
    }
}

/* Sprites high-res */
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { 
    .sprite--late {
        background-image: url(../img/sprites/iconsprite-pt-late@2x.png);
        background-size:34px 60px;
    }

    .sprite--ontime {
        background-image: url(../img/sprites/iconsprite-pt-ontime@2x.png);
        background-size:34px 60px;
    }

     .iconsprite--bus {
        background-position:0 -140px;
    }

    .iconsprite--subway {
        background-position:0 -280px;
    }

    .menusprite {
        background-image: url(../img/sprites/iconsprite-menu@2x.png);
        background-size:40px 20px;
    }

    .iconsprite--arrow {
        background-position:0 0;
    }
}

/* Hier doet Jim dingen typen */
/* Traject toevoegen */
body{
    background:#51bcb5;
}
.traject-toevoegen{
    padding-top:64px;
    height:100%;
    
}
.plaatsnaam{
    background:#f2ecec;
    padding-top:10px;
    padding-bottom: 10px;
    position: absolute;
    top: 100px;
    z-index: 10;
    margin-top: 20px;
    width:100%;
}

.plaatsnaam-naar{
    top:200px;
}

.plaatsnaam label{
    display: inline-block;
    width:10%;
    margin-left:2%;
    margin-right:2%;

    font-size: 20px;
}

.plaatsnaam input{
    display: inline-block;
    width:52%;
    background: none;
    border: none;
    font-size: 16px;
}

.plaatsnaam a{
    display: block;
    float:right;
    width:18%;
    padding:0 2%;
    margin-left:2%;
    margin-right:2%;
    background:#000;
    color:#fff;
    text-decoration: none;
}

.ui-menu .ui-menu-item a{ 
    border-radius: 0; 
    height:44px;
    padding-left: 0;
    padding-right: 0;
    line-height: 44px;
}

.ui-menu-item .ui-state-focus{ 
    background: #419691; 
    color:#fff; 
}


